<form>
  <div class="form-group">
    <label for="author">Author</label>
    {{input class="form-control" value=author id="author"}}
  </div>
  <div class="form-group">
    <label for="title">Title</label>
    {{input class="form-control" value=title id="title"}}
  </div>
  <div class="form-group">
    <label for="content">Make your post</label>
    {{log title}}
    {{log "Above is title, below is content"}}
    {{log content}}
    {{textarea rows="20" cols="100" class="form-control" value=lines id="content"}}
  </div>
  <div class="form-group">
    <label for="tags">Tags</label>
    {{input class="form-control" value=tags id="tags"}}
  </div>
  <button type="button" class="btn btn-success">Make your post</button>
</form>
